@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

body {
  background: whitesmoke;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
