@font-face {
  font-family: BlueDino;
  src: url("BlueDino.otf");
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background: whitesmoke;
  font-family: BlueDino, sans-serif;
  max-width: 1200px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  color: #647abc;
}

.sub-heading {
  font-size: 3rem;
  text-align: center;

  font-weight: 300;
  color: #f6911c;
}
